body {
	background-color: #999;
}

#main {
	background-color: yellow;
	width: 500px;
	height: 550px;
	padding: 50px;
	margin: 40px auto;
}

/*.info {
	display: flex;
	justify-content: center;
}*/

.box {
	background-color: yellow;
	display: inline-block;
	width: 70px;
	height: 70px;
	display: inline-flex;
	justify-content: center;
}

p {
	text-align: center;
	font-size: 40px;
	margin: 10px 0 0 0;
}

#timer {
	margin: 10px 0 0 0;
	text-align:center;
}

span {
	display: block;
	text-align: center;
	font-size: 20px;
}

.point {
	position: absolute;
	font-size: 25px;
	font-weight: 800;
	margin: 0;
	padding: 0;
	align-self: flex-start;
	animation: slideUp 0.8s, fadeOut 0.8s;
	animation-direction: normal;
	animation-iteration-count: 1;
}

img {
	width:70px;
	height:70px;
}

@keyframes slideUp {
	from {
		transform: translateY(0, 0, 0);
	}
	to {
		transform: translateY(-10px);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


@keyframes bounce {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(0, 5px, 0);
	}
}

.happy-mole {
	animation: bounce 0.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}